* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, #FF3334 0%, #C2272D 100%);
    color: #fffafa;
    margin: 0px;
    padding: 0px;
}

.circle {
    background-image: radial-gradient(circle, aqua 0%, rgb(0, 133, 133) 100%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #fffafa;
}

.circle-smaller {
    position: relative;
    top: 2px;
    background-color: #fffafa;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.box-h1 {
    display: flex;
    align-items: center;
    text-indent: 1rem;
    height: 80px;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 0px;
    background: linear-gradient(120deg, rgba(201, 28, 28, 1) 0%, rgba(217, 55, 55, 1) 68%, rgba(228, 108, 108, 1) 72%, rgba(224, 137, 137, 1) 73%, rgba(228, 108, 108, 1) 75%, rgba(221, 61, 61, 1) 77%, rgba(221, 61, 61, 1) 80%, rgba(228, 108, 108, 1) 83%, rgba(224, 137, 137, 1) 84%, rgba(228, 108, 108, 1) 86%, rgba(217, 55, 55, 1) 88%, rgba(201, 28, 28, 1) 100%);
    box-shadow: 0px 5px 30px 5px #00000075;
}

.circle-red {
    margin: 0px 2px 20px 15px;
    background-image: radial-gradient(circle, red 0%, rgb(150, 0, 0) 100%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}


.circle-yellow {
    margin: 0px 2px 20px 2px;
    background-image: radial-gradient(circle, yellow 0%, rgb(150, 150, 0) 100%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.circle-green {
    margin: 0px 2px 20px 2px;
    background-image: radial-gradient(circle, green 0%, rgb(0, 150, 0) 100%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.circle-smaller-2 {
    position: relative;
    top: 2px;
    left: 2px;
    background-color: #fffafa;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

/*Media queries*/

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 0 auto;
    }
}

.pagination ,.down{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #FD3234;
    border: none;
}

.load {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100px;
    background-color: #FD3234;
}

.down:hover {
    cursor: pointer;
}

.container-img:hover {
    cursor: pointer;
}
