* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #3e4047;
    color: #fffafa;
}

.content {
    padding: 0.5rem;
}

.content h1 {
    margin: 1rem
}

/*Media queries*/

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 0 auto;
    }
}
